@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
}
header{
	width:100%;
	height:10%;
	background:dodgerblue;
	color:white;
	text-align:center;
	line-height:90px;
	font-size:2em;
}
nav{
	width:100%;
	height:5%;
	background:gray;
}
nav ul{
	list-style-type:none;
	padding:0 0 0 20px;
}
nav li{
	display:inline;
}
nav a{
	text-decoration:none;
	color:white;
	line-height:40px;
	padding:0 30px;
}
nav a:hover{
	color:pink;
	font-size:2em;
}
section{
	width:100%;
	height:80%;
}
section h1{
	text-align:center;
}
section h3{
	text-align:center;
	margin:10px;
}
section h4{
	margin:0 0 0 20px;
}
section ol{
	margin:0 0 0 20px;
}
footer{
	width:100%;
	height:5%;
	background:gray;
	color:white;
	text-align:center;
	line-height:60px;
	font-size:1em;
}
#tab1{
	width:50%;
	height:30%;
	margin:0 auto;
}
#tab2{
	width:80%;
	margin:0 auto;
	text-align:center;
}
#tab3{
	width:30%;
	height:25px;
	margin:0 auto;
}
#th1{
	width:25%;
	background:lightgray;
}
#in1{
	width:70%;
	height:30px;
}
#btn1{
	width:18%;
	height:30px;
	background:lightgray;
}
.btn_group{
	margin:5px 0 0 0;
}
.btn_group button{
	width:120px;
	height:25px;
	background:#282828;
	color:white;
	text-align:center;
}